* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/*.header {
  background-color: #ffcdd6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 5%;
}

.header .logo {
  cursor: pointer;
}

.header .logo h1 {
  height: 45px;
  width: auto;
  transition: all 0.3s;
}

.header .logo h1:hover {
  transform: scale(1.2);
}

.header .logo span {
  color: #ff5874;
}

.header .navLinks {
  list-style: none;
}

.header .navLinks li {
  display: inline-block;
  padding: 0 30px;
}

.header .navLinks li {
  font-weight: bold;
  color: #838383;
  text-decoration: none;
}

.header .navLinks li:hover {
  color: #ff5874;
}

.header .botonBuscar {
  font-weight: bold;
  color: #ffffff;
  padding: 8px 25px;
  background-color: #ff5874;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .botonBuscar:hover{
  background-color: #838383;
  transform: scale(1.2);
}*/